{{! copyright}}
<div class="copyright">
  <p>Copyright© 2015 深圳瑞麦科技有限公司 | <a target="_blank" href="http://www.zaihujk.com/privacy.html">用户协议与免责声明</a></p>
  <p><a target="_blank" href="http://www.miibeian.gov.cn/" title="备案号">粤ICP备14072475号-1</a> | <a target="_blank" href="http://7xjwgk.com2.z0.glb.qiniucdn.com/互联网药品信息服务资格证书.jpg">(粤)-经营性-2015-0027</a></p>
</div>
