{{! footer 友情链接 联系我们 扫码 }}
<footer class="footer">
  <div class="footer-inner">
    <div class="friendlink">
      <h4>友情链接</h4>
      <ul>
        <li><a target="_blank" href="http://www.sfda.gov.cn/WS01/CL0001/">国家食品药品监督管理总局</a></li>
        <li><a target="_blank" href="http://www.nhfpc.gov.cn/">国家卫生和计划生育委员会</a></li>
        <li><a target="_blank" href="http://www.psmchina.cn/">药品安全合作联盟</a></li>
        <li><a target="_blank" href="http://www.cnma.org.cn/">中国非处方药协会</a></li>
      </ul>
      <ul>
        <li><a target="_blank" href="http://www.clponline.cn/">中国药师协会</a></li>
        <li><a target="_blank" href="http://www.cpa.org.cn/">中国药学会</a></li>
        <li><a target="_blank" href="http://www.cma.org.cn/">中华医学会</a></li>
        <li><a target="_blank" href="http://www.kepuchina.org/">科普中国</a></li>
      </ul>
      <ul>
        <li><a target="_blank" href="http://www.medlive.cn/">医脉通</a></li>
        <li><a target="_blank" href="http://www.bioon.com/">生物谷</a></li>
        <li><a target="_blank" href="http://db.yaozh.com/">药智数据</a></li>
        <li><a target="_blank" href="http://www.henganpharm.com/">湖北恒安药业</a></li>
      </ul>
    </div>
    <div class="aboutus">
      <h4>联系我们</h4>
      <ul>
        <li>
          <a class="weibo" target="_blank" href="http://weibo.com/remindingme"><i class="fa fa-weibo"></i>：新浪微博</a>
          <a class="qqgroup" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=33e9f28cbf66d3edc5af04f8d22533546cb657c4817de1138617f5fc2e48cf3b" alt="在乎健康用户交流群" title="在乎健康用户交流群"><i class="fa fa-qq"></i>：加入QQ群
          <!-- <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" > -->
          </a>
        </li>
        <li><a class="weixin" href="javascript:;"><i class="fa fa-wechat"></i>：官方微信</a></li>
        <li><i class="fa fa-phone-square"></i>：0755-26087587</li>
        <li><i class="fa fa-envelope"></i>：service@reminding.cn</li>
      </ul>
    </div>
    <div class="scancode">
      <h4>扫一扫</h4>
      <!-- <dl id="wx">
        <dt>微信</dt>
        <dt>
          <img src="http://7xjwgk.com2.z0.glb.qiniucdn.com/wx_code.png" alt="">
        </dt>
      </dl> -->
      <dl id="download">
        <dd>
          <img src="http://img.zaihujk.com/common/download_code.png" alt="">
        </dd>
        <dt>免费下载</dt>
      </dl>
    </div>
  </div>
</footer>
