{{! header 头部导航栏 + 登录}}
<header class="page-header">
  <div class="page-header-inner">
    <div class="user-menu">
      <ul class="navbar-nav">
        <li class="login"><a href="">登录丨注册</a></li>
        <li class="user"><a href=""><img src="http://7xjwgk.com2.z0.glb.qiniucdn.com/default_icon.jpg" alt=""><span>名字</span></a></li>
      </ul>
    </div>
    <div class="page-menu">
      <ul class="navbar-nav">
        <li class="current"><a href="">首页</a></li>
        <li><a href="app_pc.html">在乎健康APP</a></li>
        <li><a href="">资讯</a></li>
        <!-- <li><a href="">帮助</a></li> -->
      </ul>
    </div>
  </div>
</header>
<div class="backtop"></div>
